POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rappi2

MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB=rappi2_mongo

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/rappi2
MONGO_URL=mongodb://admin:admin@mongodb:27017/

SECRET_KEY=change_me_to_a_random_64_char_string_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
AUDIT_ENABLED=true

ORS_API_KEY=your_openrouteservice_api_key_here
